doctype html
html
  head
    title= title
    script(type='module' src='/javascripts/createThread.js')
    script(type='module' src='/javascripts/loadThreads.js')
    //script(type='module' src='/javascripts/loadComment.js')
    //script(type='module' src='/javascripts/createComment.js')
    link(rel='stylesheet', href='/stylesheets/default.css')
  body
    block content
    //nav bar
    div(class='navbar')
      a(href='/home')
        img(src= logo, class= "logo")
      div(class='navbar-userinfo')
        p(class='text background')= 'Welcome'
        div(class='form-group')
          img(src=settingsIcon, class= "settings-icon")
          a(href='../home/settings', class= "settings-link")
            img(src=logoutIcon, class= "logout-icon")
            p(class='text')= username
        
        //social bar
        div(class='social-bar')
          p(class='text background')= 'Followers: '
          p(class='text background')= 'Following: '
          p(class='text background')= 'Likes: '
    
    //content
    p(class='title')= page
    if(authenticated)
      button(class='button', id='newThread' )= 'New Thread'
    div(class='forum-content', id='forum-content')

      
    