block content
  link(rel='stylesheet', href='/stylesheets/default.css')
  p(class='title')= title
  a(href= redirectLocation, class='title')= redirectText
  p(class= 'text')= 'Heres a bunch of text u can look through (There is a possibility that there are neuclear codes hidden in here)'
  p(class= 'text')= randomText
  p(class= 'text')= 'I am sorry u were not able to find any neclear codes'
